


.cus-title{
    padding: 50px;
}
.txt-cus{
    font-size: 48px;
}
.txt-content-cus{
    font-size: ;
}
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    text-align: center;
}

/* Remove extra left and right margins, due to padding */
.row {
    display: inline;
}

/* Clear floats after the columns */
.row {
    /* content: ""; */
    /* display: table;
    clear: both; */
    /* margin: auto; */
}
.card{height: 350px;}
.card-avatar{
    padding: 5px;
}
.card-img{
    /* padding-top: 56.25%; */
    width: 100%;
    overflow: hidden;
    position: relative;
}
.card-img img{
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    top: 50%;
    width: auto;
}
.txt-avatar-title{
    font-size: 22px;
    font-weight: bold;
}
.txt-avatar-content{
    color: #7B88A8;
}
.card-content{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.txt-title{
    font-size: 22px;
    font-weight: bold;
}
.txt-content{
    color: #7B88A8;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        transition: 1s;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}