* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

.bg-header {
  width: 100%;
  height: 500px;
  background-image: url(/img/Hero_background.png);
}

.container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
  width: 100%;
}

header {
  display: flex;
}

.menu-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-header img {
  width: 32px;
  height: 44px;
}

.logo {
  display: flex;
  align-items: center;
}

.txt-header {
  padding-left: 10px;
}

.lst-header ul {
  display: flex;
  list-style-type: none;
}

.lst-header ul li {
  margin: 22px 20px;
}

.lst-header a {
  text-decoration: none;
  color: #7B88A8;
}

.icon-header {
  display: flex;
  align-items: center;
}

.icon-header img {
  width: 24px;
  height: 24px;
}

.cardt,
.search {
  margin: 22px 20px;
}

button {
  display: inline;
  background-color: #4F77FF;
  border: 0px;
  border-radius: 5px;
  padding: 13px 24px;
  color: #fff;
}

.txt-ct {
  text-align: center;
}

/* main */
.header {
  text-align: center;
  padding: 32px;
}

.row {
/* display: -ms-flexbox; IE10 */
/* -ms-flex-wrap: wrap; IE10 */
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
  /* -ms-flex: 25%; IE10 */
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}



.btn-main{
  text-align: center;
  padding: 70px;
}
.btn-main a{
  text-decoration: none;
}


@media screen and (max-width: 800px) {
  .column {
    /* -ms-flex: 50%; */
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    /* -ms-flex: 100%; */
    flex: 100%;
    max-width: 100%;
  }
}

/* slide-card */
.client{
  background-color: #F8FAFC;
}
.tit-client{
  text-align: center;
  padding: 120px 0px 95px;
}
.tit-client p{
  color: #7B88A8;
}
.slide-container{
  
}
.slide{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.card{
  width: 350px;
  height: 350px;
  border: 1px solid rgba(79, 119, 255, 0.2) ;
  border-radius: 20px;
  margin-bottom: 105px;
}
.content{
  text-align: center;
  padding: 35px 35.09px 45px 35px;
}
.avatar{

}
.title-card span{
  font-size:22px;
}
.title-card p{
  color: #7B88A8;
  font-size: 16px;
}
.desc-card span{
  font-size: 18px;
}
.desc-card p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  color: #7B88A8;
  font-size: 16px;
  line-height: 1.5;
}

/* recent */

.recent-project-wrap{
  
}
.recent-container{
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
  width: 100%;
}
.recent-project{
  display: flex;
  align-items: center;
}
.recent-title{
  
}
.btn-slide{
  
}
.card-row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: center;
}
.card-column{
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}
.card-column img{
  margin-top: 8px;
  /* vertical-align: middle; */
  width: 100%;
}


/* blog */

.blog{
  
  display: flex;
}
/* .blog-content{
  
}
.tit{

} */
.big-new{

}
.big-new-cont{
  display: flex;
  gap: 30px;
}
.big-content-1{
  padding: 0 30px;
  
}
.big-img{
  max-width: 100%;
  padding: 0 4px;
}
.big-img img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 20px;
}
.blog-desc{
  display: flex;
  flex-wrap: wrap;
}
.blog-tit{

}
.tit-blog-tit{
  font-weight: 400;
}
.blog-date{
  display: flex;
}
.time{
  display: flex;
}
.big-content-2{

}
.blog-thumbnail{
  display: flex;

}
.thumbnail{

}
.txt-thumb{

}

























/* html,
body {
  font-size: 16px;
  color: hsl(60, 58%, 0%);
}
body {
  padding: 20px;
  background-color: rgb(99, 232, 203);
}
h1 {
  font-size: 2rem;
  text-align: center;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 40px 0;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid hsl(60, 58%, 17%);
  background-color: navajowhite;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-auto-rows: 10rem;
  grid-gap: 20px;
  margin: 40px 0;
}
.grid__item {
  background-color: hsl(40, 58%, 17%);
  border-radius: 5px;
}
.grid__item:nth-child(1),
.grid__item:nth-child(4) {
  background-color: hsl(10, 58%, 17%);
}
.grid__item:nth-child(2),
.grid__item:nth-child(6) {
  background-color: hsl(150, 58%, 17%);
}
.grid__item:nth-child(3),
.grid__item:nth-child(7) {
  background-color: hsl(200, 58%, 17%);
}
.grid__item:nth-child(4),
.grid__item:nth-child(8) {
  background-color: hsl(305, 58%, 17%);
} */
/* transition styles that would be animated */
/* .toggle-column {
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}
.toggle-row {
  grid-auto-rows: 16rem;
}
.toggle-gap {
  grid-gap: 40px;
} */
