
#wrap{width: 100%;}
header{display: flex;}
.logo{display: flex;}
.logo img{width: 44px; height: 32px;}
.txt_header{padding-left: 20px;}

.lst_header ul{display: flex; list-style-type: none;}
.lst_header 
/* .main{background-color: chartreuse;}
.footer{background-color: springgreen;}*/