* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
}

.bg_header{
    width: 100%;
    height: 500px;
    background-image: url(/img/Hero_background.png);
}
.container{
    max-width: 1170px;
    margin: 0px auto; 
    padding: 0px 15px;
    width: 100%;
}
header{display: flex;}
.menu_header{display: flex;justify-content: space-around;align-items: center;}
.menu_header img{width: 32px; height: 44px;}
.logo {display: flex; align-items: center;}
.txt_header{padding-left: 10px;}
.lst_header ul{display: flex; list-style-type: none;}
.lst_header ul li{margin: 22px 20px;}

.icon_header{display: flex; align-items: center;}
.icon_header img{ width: 24px; height: 24px;}
.cart,.search{margin: 22px 20px;}
button{background-color:#4F77FF; border: 0px; border-radius: 5px; padding:13px 24px; color: #fff;}

.txt_ct{text-align: center;}


/* main_content */
.tit_main{text-align: center;}



/* .prod_main div{margin: 30px;} */

.prod_main{display:flex; gap: 30px;}
img{display: block; width: 100%;}
.prod_itm :first-child{margin-bottom: 30px;}

/* member style */
.member{background:#dbe5f0; width: 100%; height: 781px;}
.head_mem{margin-bottom: 80px;}
.tit_mem{text-align: center; padding-top: 120px;}
h2{margin: 30px;}

/*      */
.slide{display: grid; grid-template-columns: 375px 375px 375px 375px ; justify-content: center; gap: 30px;}
.tag{width: 370px; height: 350px; border: 1px solid rgba(0,0,0,0.2); border-radius: 20px; background: #fff;
/*box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);*/ }
.tag_avatar img{ width: 70px; height: 70px; margin: auto;}
.tag_avatar{padding: 35px; text-align: center;}
.name_mem p{color: #7B88A8;}
.name_mem span{font-weight: bold;}
.txt{ text-align: center; padding: 35px;}
.txt p{color: #7B88A8;}

/* css precent */

.recen_projects






