* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
}

.bg_header {
    width: 100%;
    height: 500px;
    background-image: url(/img/Hero_background.png);
}

.container {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 15px;
    width: 100%;
}

header {
    display: flex;
}

.menu_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_header img {
    width: 32px;
    height: 44px;
}

.logo {
    display: flex;
    align-items: center;
}

.txt_header {
    padding-left: 10px;
}

.lst_header ul {
    display: flex;
    list-style-type: none;
}

.lst_header ul li {
    margin: 22px 20px;
}
.lst_header a{
    text-decoration: none;
    color: #7B88A8 ;
}
.icon_header {
    display: flex;
    align-items: center;
}

.icon_header img {
    width: 24px;
    height: 24px;
}

.cart,
.search {
    margin: 22px 20px;
}

button {
    display: inline;
    background-color: #4F77FF;
    border: 0px;
    border-radius: 5px;
    padding: 13px 24px;
    color: #fff;
}

.txt_ct {
    text-align: center;
}


/* main_content */
.tit_main {
    text-align: center;
}



/* .prod_main div{margin: 30px;} */

.prod_main {
    display: flex;
    gap: 30px;
}

img {
    display: block;
    width: 100%;
}

.prod_itm :first-child {
    margin-bottom: 30px;
}

/* member style */
.member {
    background: #dbe5f0;
    width: 100%;
    height: 781px;
}

.head_mem {
    margin-bottom: 80px;
}

.tit_mem {
    text-align: center;
    padding-top: 120px;
}

h2 {
    margin: 30px;
}

/*      */
.slide {
    display: grid;
    grid-template-columns: 375px 375px 375px 375px;
    justify-content: center;
    gap: 30px;
}

.tag {
    width: 370px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: #fff;
    /*box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);*/
}

.tag_avatar img {
    width: 70px;
    height: 70px;
    margin: auto;
}

.tag_avatar {
    padding: 35px;
    text-align: center;
}

.name_mem p {
    color: #7B88A8;
}

.name_mem span {
    font-weight: bold;
}

.txt {
    text-align: center;
    padding: 35px;
}

.txt p {
    color: #7B88A8;
}

/* css precent */
.slide_recent{
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 15px;
    width: 100%;
}
.recen_projects {
    width: 100%;
    height: 502px;
}

.recent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arr{display: flex;}

.recent img {
    width: 56px;
    height: 40px;
}

.img_recent {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    justify-content: center;
    gap: 30px;
}

.img_recent img {
    width: 370px;
    height: 370px;

}


/* blog */
.blog{
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 15px;
    width: 100%;

}
.blog_big{
    display: flex;
    gap: 30px;
    width: 770px;
    height: 556px;
}

.blog_big img{
    width: 100%;
    border-radius: 20px;
    /* object-fit: fill; */
}

.blog_big P,.day,.time{
    color: #7B88A8;
}
.blog1{ 

}
.title{
    margin: 20px 0px 30px 0px;
}
.desc {

}
.date{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.day,.time{
    display: flex;
}
.day img{
    width: 18px;
    height: 18px;
    margin-right: 7.25px;
}

.time img{
    width: 18px;
    height: 18px;
    margin-right: 7.25px;
}
/* blog_cont */
.blog_cont{
    display: flex;
    gap: 30px;
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 15px;
    width: 100%;
}
.blog_thumb{
    width: 370px;
    height: 167px;
}
.thumbcont{
    border-bottom: 1px solid rgba(122, 122, 122, 0.2);

}
.thumbcont img{
    width: 100px;
    height: 100px;
    border-radius: 12px;
}

.desc{
    display: flex;
    margin-bottom: 18px;

}
.desc p{
    width: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

}
.date{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.day,.time{
    display: flex;
}
.day img{
    width: 18px;
    height: 18px;
}

.time img{
    width: 18px;
    height: 18px;
}
.thumbcont{

}
/* footer */


.footer{
    background-color: #292F3A;
    
}
.nav_footer{
    
    max-width: 1170px;
    height: 546px;
    margin: 0px auto;
    padding: 0px 15px;
    width: 100%;
}

.lst{
    display: flex;
}
.logo_nav{width: 20%;}
.lst{width: 50%;}
.nav_itm{width: 30%;}


.lst li{
    list-style-type: none;
    color: #fff;
    width: 50%;
}
.lst p a{
    text-decoration: none;
    color: #E7E5EA;
}
.nav_menu{
    padding-top: 80px;
}
.nav_menu ul li a{
    text-decoration: none;
    color: #E7E5EA;
}

.lst h4{
    padding: 20px 0px;
}
.lst p{
    padding: 10px 0px;
}

.txt_footer{
    padding-left: 10px;
}
.logo_nav{
    display: flex;
}
.logo_nav p{
    color: #fff;
    align-items: center;
    line-height: 44px;
}
.logo_nav img{
    
    width: 32px;
    height: 44px;
}

.nav_menu{display: flex;}

.nav_itm h4{
    padding: 20px 0px;
    color: #fff;
}
.nav_itm p{
    color:#E7E5EA;
}
.nav_itm p{
    padding: 20px 0px 15px 0px;
}
.nav_itm input{
    width: 235px;
    height: 48px;
    border-radius: 5px;
    border: none;
}
.nav_itm button{
    height: 48px;
}
.nav_link{
    display: flex;
    padding
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.desc_f{
    width: 80%;
}
.link{
    display: flex;
    width: 20%;
    justify-content: flex-end;
}
.link img{
    width: 52px;
    padding: 0px 0px 0px 20px;
}
