*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

/* header */
.main-header{
    
}
.container{
    background-image: url(./img/Hero_background.png);
}
.header{
    display: ;
}
.menu_header{

}
.logo{

}
.txt_header{

}
.lst_header{

}
.icon_header{

}
.search{

}
.cart{

}
.txt_ct{

}
.main-content{

}
.main-container{

}
.tit_main{

}
.prod_main{

}
.prod_itm{

}
.button{

}




