*{
    box-sizing: border-box;
}
#wrap{width: 100%;}
header{display: flex;}
.logo{display: flex;}
.logo img{width: 44px; height: 32px;}
.tit{padding-left: 20px;}
.lst_header ul{display: flex;}
.lst_header ul li{  }
.main{background-color: chartreuse;}
.footer{background-color: springgreen;}