* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  
  body {
  margin: 0;
  font-family: 'Outfit', 'DmSans';
  }
  .bg-header {
  width: 100%;
  height: 500px;
  background-image: url(./img/Hero_background.png);
  background-size: 100% 100%;
  width: 100%;
  }
  
  .container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
  width: 100%;
  height: 100%;
  }
  .header {
  display: flex;
  justify-content: space-around;
  }
  .menu-header {
  padding-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .logo-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  }
  .logo-header img {
  max-width: 100%;
  }
  .img-logo{
  margin-right: 160px;
  }
  .txt-header {
  font-size: 24px;
  padding-left: 10px;
  }
  .header-midd a {
  text-decoration: none;
  margin-right: 30px;
  transition: all 1s;
  }
  /* hover */
  .midd-item {
  width: 100%;
  padding: 1px;
  position: relative;
  text-decoration: none;
  color: #7B88A8;
  font-weight: 500;
  }
  .midd-item:after {
  bottom: 25px;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: 0;
  position: absolute;
  /* transition: 0.5s; */
  right: 0;
  margin: 0 auto;
  }
  a:hover{
  color: #2D3958;
  }
  .midd-item:hover:after
  {
  bottom: 25px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #34C635;
  }
  
  .fa {
    display: none;
  width: 10px;
  height: 10px;
  color: #34C635;
  
  }
  
  /* end hover */
  .header-close {
  display: none;
  float: right;
  visibility: hidden;
  padding: 5px 5px 5px 5px;
  
  }
  
  .header-close i {
  margin: 0 20px 0;
  }
  
  .header-right {
  display: flex;
  align-items: center;
  height: 48px;
  margin-left: 139px;
  }
  
  .cart {
  margin: 0 30px 0px 10px;
  }
  
  .cart,
  .search {
  width: 24px;
  height: 24px;
  }
  
  button {
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
  padding: 13px 24px;
  color: #7B88A8;
  background-color: #F8FAFC;
  }
  
  .txt-ct h1{
  font-weight: 500;
  font-size: 48px;
  color: #2D3958;
  padding: 15px;
  
  }
  .tit-link{
  padding: 15px;
  }
  .tit-link a{
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #7B88A8;
  }
  .tit-link a:hover{
  color: #2D3958;
  }
  .txt-ct {
  text-align: center;
  margin: 90px;
  
  }
  
  .btn-sig {
  width: 129px;
  height: 48px;
  }
  .btn-sig button{
  cursor: pointer;
  background-color: #4F77FF;
  border: 0px;
  border-radius: 5px;
  padding: 13px 24px;
  color: #fff;
  }
  
  @media screen and (max-width: 800px) {
  .header-midd {
    display: none;
    width: 100%;
    transition: 2s;
  }
  
  .menu-header a {
    float: left;
    display: block;
  }
  
  .header-close {
    display: block;
    margin-left: auto;
    visibility: visible;
  }
  
  .logo-header {
    flex-shrink: 0;
  }
  
  .logo-header p {
    display: none;
  }
  
  .btn-sig {
    display: none;
  }
  .header-right button {
    float: right;
    display: block;
  }
  .txt-ct h1{
    font-size: 2em;
  }
  }
  
  
  
  /* main */
  .header-main {
  color: #2D3958;
  text-align: center;
  padding: 32px;
  }
  .header-main h1{
    font-size: 64px;
    font-weight: 500;
    color: #2D3958;
  }
  
  .row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 30px 0 30px;
  justify-content: center;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
  }
  
  .column img {
  margin-top: 30px;
  vertical-align: middle;
  width: 100%;
  }
  
  .btn-main {
  text-align: center;
  padding: 70px;
  }
  
  .btn-main a {
  text-decoration: none;
  }
  
  
  @media screen and (max-width: 800px) {
  .column {
    /* -ms-flex: 50%; */
    flex: 50%;
    max-width: 50%;
  }
  .header-main{
    font-size: 2em;
  }
  }
  
  
  
  
  
  @media screen and (max-width: 600px) {
  .column {
    /* -ms-flex: 100%; */
    flex: 100%;
    max-width: 100%;
  }
  }
  
  
  
  /* card */
  .custom{
    padding-bottom: 105px;
  background-color: #F8FAFC;
  }
  .cus-title {
  padding: 50px;
  text-align: center;
  }
  .cus-title p:nth-child(2){
    font-size: 22px;
  }
  .txt-cus {
  padding: 30px;
  font-size: 48px;
  font-weight: 500;
  }
  .txt-content-cus{
    font-size: 22px;
    padding: 15px;
  }
  /* Remove extra left and right margins, due to padding */
  .row-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  }
  
  /* Clear floats after the columns */
  
  .card {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #fff;
  }
  
  .card {
  height: 350px;
  width: 370px;
  }
  
  .card-avatar {
  padding: 20px;
  }
  .card-avatar-content{
    padding: 9px;
  }
  .card-img {
  width: 100%;
  overflow: hidden;
  position: relative;
  }
  
  .card-img img {
  top: 50%;
  width: auto;
  }
  
  .txt-avatar-title {
  font-size: 22px;
  font-weight: 500;
  }
  
  .txt-avatar-content {
    font-size: 16px;
  color: #7B88A8;
  }
  
  .card-content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  }
  
  .txt-title {
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  }
  
  .txt-content {
    font-size: 18px;
  color: #7B88A8;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
  .column-card {
    /* width: 100%; */
    display: block;
    transition: 1s;
  }
  .cards-cus{
    flex-wrap: wrap;
  }
  .cus-title{
    font-size: 2em;
  }
  }
  
  
  .title-recent {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0px auto;
  width: 100%;
  padding: 120px 0 70px 0;
  }
  
  .recent-title {
  flex: 1;
  height: 100%;
  width: 100%;
  }
  
  .txt-recent-project {
  font-size: 48px;
  }
  
  .left {
  width: 56px;
  height: 40px;
  border-radius: 50px;
  }
  
  .right {
  width: 56px;
  height: 40px;
  border-radius: 50px;
  }
  
  .left:hover {
  background-color: #4F77FF;
  }
  
  .right:hover {
  background-color: #4F77FF;
  }
  
  .cards-recent {
  padding-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  }
  
  .card-recent {
  height: 100%;
  width: 370px;
  }
  
  .card-img-container {
  /* padding-top: 56.25%; */
  width: 100%;
  overflow: hidden;
  position: relative;
  }
  
  .card-image-container img {
  
  width: 100%;
  height: 100%;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
  .cards-recent {
    width: 100%;
    display: block;
    transition: 1s;
  }
  
  .card-content-recent {
    width: 100%;
  }
  
  .card-image-container img {
    padding: 30px;
  }
  
  .title-recent {
    display: block;
    float: left;
  }
  
  .recent-title p {
    text-align: center;
  }
  
  .btn-slide {
    text-align: center;
  }
  
  .card-recent {
    width: 100%;
  }
  
  }
  
  
  /* blog */
  
  
  
  .title-blog {
  padding: 120px 0 90px 0;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  }
  
  .blog {
  
  display: flex;
  padding: 0 0 144px 0;
  }
  
  .big-new-cont {
  display: flex;
  gap: 30px;
  }
  
  .big-img {
  max-width: 100%;
  padding: 0 4px;
  }
  
  .big-img img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 20px;
  }
  
  .blog-desc {
  display: flex;
  flex-wrap: wrap;
  
  }
  
  .blog-desc p {
  color: #7B88A8;
  }
  
  .blog-tit {
  line-height: 28px;
  }
  
  .tit-blog-tit {
  font-size: 22px;
  }
  
  .blog-date {
  display: flex;
  margin-right: 20px;
  }
  
  .time p {
  margin-left: 5px;
  }
  
  .time {
  display: flex;
  }
  /* footer */
  
  .footer {
  background-color: #292F3A;
  }
  
  .nav_footer {
  max-width: 1170px;
  height: auto;
  margin: 0px auto;
  padding: 15px 15px;
  width: 100%;
  }
  
  .lst {
  display: flex;
  }
  
  .logo_nav {
  width: 20%;
  }
  
  .lst {
  width: 50%;
  }
  
  .nav_itm {
  width: 30%;
  }
  
  
  .lst li {
  list-style-type: none;
  color: #fff;
  width: 50%;
  }
  
  .lst p a {
  text-decoration: none;
  color: #E7E5EA;
  }
  
  .nav_menu {
  padding-top: 80px;
  }
  
  .nav_menu ul li a {
  text-decoration: none;
  color: #E7E5EA;
  }
  
  .lst h4 {
  padding: 20px 0px;
  }
  
  .lst p {
  padding: 10px 0px;
  }
  
  .txt_footer {
  padding-left: 10px;
  font-size: 24px;
  }
  .menuc h4{
    font-size: 22px;
  }
  .logo_nav {
  display: flex;
  }
  
  .logo_nav p {
  color: #fff;
  align-items: center;
  line-height: 44px;
  }
  
  .logo_nav img {
  
  width: 32px;
  height: 44px;
  }
  
  .nav_menu {
  display: flex;
  margin-bottom: 99px;
  }
  
  .nav_itm h4 {
  padding: 20px 0px;
  color: #fff;
  }
  
  .nav_itm p {
  color: #E7E5EA;
  }
  
  .nav_itm p {
  padding: 20px 0px 15px 0px;
  }
  
  .nav_itm input {
  width: 235px;
  height: 48px;
  border-radius: 5px;
  border: none;
  }
  
  .nav_itm button {
  height: 48px;
  background-color: #4F77FF;
  color: #fff;
  }
  
  .pad {
  display: flex;
  border-top: 1px solid rgba(156, 156, 156, 0.2);
  }
  
  .desc_f {
  width: 80%;
  }
  
  .desc_f p {
  color: #E7E5EA;
  line-height: 52px;
  }
  
  .link {
  display: flex;
  width: 20%;
  justify-content: flex-end;
  }
  
  .link img {
  width: 52px;
  padding: 0px 0px 0px 20px;
  }
  
  .card-cuw {
  width: 100%;
  }
  
  
  @media screen and (max-width: 800px) {
  .nav_menu {
    display: grid;
    align-items: center;
    margin: 120px;
  
  }
  
  .lst {
    display: grid;
  }
  
  .btn {
    width: auto;
    display: flex;
  }
  
  .nav_itm p {
    width: 100%;
  }
  
  .card-container-thumb {
  background-color: #F8FAFC;
  }
  }
  .card-main {
  display: flex;
  justify-content: center;
  max-width: 1170px;
  margin: 0px auto;
  width: 100%;
  padding: 0 0 70px 0;
  position: relative;
  
  }
  
  /* } */
  .title-main {
  padding: 135px 220px 90px 220px;
  }
  .title-main p{
    padding: 30px;
    text-align: center;
    font-size: 48px;
    color: #2D3958;
  }
  .cards-cus {
  display: flex;
  gap: 30px;
  }
  .card-cus {
  border-bottom: 1px solid rgba(156, 154, 154, 0.2);
  }
  .card-image-container-cus {
  width: 100%;
  overflow: hidden;
  position: relative;
  }
  
  .card-image-container-cus img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  }
  
  .card-content {
  padding: 0 20px 20px 20px;
  }
  
  .card-title-cus {
  margin: 20px 0 20px 0;
  }
  .card-content-cus{
    padding-bottom: 25px;
  }
  .day-cus {
  display: flex;
  align-self: end;
  align-items: center;
  margin-top: 20px;
  }
  
  .time-cus {
  margin-left: 20px;
  }
  
  .time-cus p {
  float: right;
  margin-left: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  }
  
  .date-cus {
  display: flex;
  }
  
  .time-cus {
  display: flex;
  }
  
  .date-cus p {
  float: right;
  margin-left: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  }
  
  .blog-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  }
  
  .thumbnail {
  display: flex;
  border-bottom: 1px solid rgba(156, 154, 154, 0.2);
  padding: 28px 0 25px 0;
  }
  
  .thumb {
  padding-top: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  }
  
  .thumb p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  }
  
  .day {
  display: flex;
  margin-top: 20px;
  
  }
  
  .thumb-img {
  width: 100px;
  height: 100px;
  line-height: 100px;
  flex-shrink: 0;
  }
  
  .thumb-img img {
  max-width: 100%;
  border-radius: 10px;
  }
  .card-container-thumb{
    background-color: #F8FAFC;
  }


  @media screen and (max-width: 800px){
    .title-main{
      padding: 0;
    }
    .title-main p{
      font-size: 2em;
    }
    .card-main{
      display: flex;
      flex-wrap: wrap;
    }
    .cards-cus{
      padding: 20px;
    }
    /* .day-cus{
      font-size: 14px;
    } */
    .day{
      font-size: 14px;
    }
    .day p{
      margin-left: 5px;
    }
  }