
#wrap{width: 100%;
}
.bg_header{
    width: 100%;
    height: 500px;
    background-image: url(/img/);
}
header{display: flex;}
.logo{display: flex;}
.logo img{width: 24px; height: 24px;}
.txt_header{padding-left: 20px;}
.lst_header ul{display: flex; list-style-type: none;}
.icon_header{display: flex; align-items: center;}

/* .main{background-color: chartreuse;}
.footer{background-color: springgreen;}*/