* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

/* .wrap{
  padding: 100px;
} */
.bg-header {
  width: 100%;
  height: 500px;
  background-image: url(./img/Hero_background.png);
  background-size: 100% 100%;
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
  width: 100%;
}

/* .menu-header{
  overflow: hidden;
  padding: 20px 10px; */
/* }
.logo-header{
  float: left;
}
.logo-header{
  display: flex;
}
.logo-header img{
  max-width: 100%;
  float: left;
}
.img-logo{
  width: 32px;
  height: 44px;
  max-width: 100%;
}
.header-right{
  padding: 20px 10px;
}
.header-right a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /* padding: 12px;
  text-decoration: none;
  line-height: 20px;
  color: #7B88A8;
 */
}


.header {
  display: flex;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
}


.logo-header {
  margin-right: 174px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  
}

.logo-header img {
  max-width: 100%;

}

.img-logo img {
  width: 32px;
  height: 44px;
  max-width: 100%;
}

.txt-header {
  font-size: 24px;
  padding-left: 10px;
}

/* .lst-header ul {
  display: flex;
  list-style-type: none;
}

.lst-header ul li {
  margin: 22px 20px;
}

.lst-header a {
  text-decoration: none;
  color: #7B88A8;
}  */

.header-midd {
  padding: 30px 30px;
  ;
}

.header-midd a {
  text-decoration: none;
  margin-right: 30px;
  transition: all 1s;

}
/*
.header-midd a:hover {
  
  color: #2D3958;
  counter-reset: 0.5;
} */
/* .dot{
  width: 8px;
  height: 8px;
  background-color: #3CD3AD;
  display: inline-block;
  border-radius: 50%;
} */
/* hover */













/* end hover */
.header-close {
  display: none;
  float: right;
  visibility: hidden;
  padding: 5px 5px 5px 5px;

}

.header-close i {
  margin: 0 20px 0;
}

.header-right {
  display: flex;
  align-items: center;
  height: 48px;
  margin-left: auto;
}

.cart {
  margin: 0 30px 0px 10px;
}

.cart,
.search {
  width: 24px;
  height: 24px;
}

button {
  background-color: #4F77FF;
  border: 0px;
  border-radius: 5px;
  padding: 13px 24px;
  color: #fff;
}
.txt-ct h1{
  padding: 15px;
  
}
.txt-ct {
  text-align: center;
  padding: 30px;
  margin: 90px;

}

.btn-sig {
  width: 129px;
  height: 48px;
}

@media screen and (max-width: 800px) {
  .header-midd {
    display: none;
    width: 100%;
    transition: 2s;
  }
  .menu-header a {
    float: left;
    display: block;
  }

  .header-close {
    display: block;
    margin-left: auto;
    visibility: visible;
  }
  .logo-header{
    flex-shrink: 0;
  }
  .logo-header p {
    display: none;
  }

  .btn-sig {
    display: none;
  }

  .header-right button {
    float: right;
    display: block;
  }
}



/* main */
.header-main {
  text-align: center;
  padding: 32px;
}

.row {
  /* display: -ms-flexbox; IE10 */
  /* -ms-flex-wrap: wrap; IE10 */
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
  /* -ms-flex: 25%; IE10 */
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.btn-main {
  text-align: center;
  padding: 70px;
}

.btn-main a {
  text-decoration: none;
}


@media screen and (max-width: 800px) {
  .column {
    /* -ms-flex: 50%; */
    flex: 50%;
    max-width: 50%;
  }
}





@media screen and (max-width: 600px) {
  .column {
    /* -ms-flex: 100%; */
    flex: 100%;
    max-width: 100%;
  }
}



/* card */

.cus-title{
  padding: 50px;
  text-align: center;
}
.txt-cus{
  font-size: 48px;
}
.txt-content-cus{
  font-size: 22px;
}
/* .column-card {
  
  
  text-align: center;
} */

/* Remove extra left and right margins, due to padding */
.row-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

/* Clear floats after the columns */
.row-card {
  /* content: ""; */
  /* display: table;
  clear: both; */
  /* margin: auto; */
}
.card {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.card{height: 350px; width: 370px;}
.card-avatar{
  padding: 5px;
}
.card-img{
  /* padding-top: 56.25%; */
  width: 100%;
  overflow: hidden;
  position: relative;
}
.card-img img{
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  top: 50%;
  width: auto;
}
.txt-avatar-title{
  font-size: 22px;
  font-weight: bold;
}
.txt-avatar-content{
  color: #7B88A8;
}
.card-content{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.txt-title{
  padding-bottom: 25px;
  font-size: 22px;
  font-weight: bold;
}
.txt-content{
  color: #7B88A8;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column-card {
      /* width: 100%; */
      display: block;

      transition: 1s;
  }

  /* .card{
    width: 100%;
  } */
}

/* Style the counter cards */

/* slide-card */
/* .client {
  background-color: #F8FAFC;
}

.tit-client {
  text-align: center;
  padding: 120px 0px 95px;
}

.tit-client p {
  color: #7B88A8;
}

.slide-container {}

.slide {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  width: 350px;
  height: 350px;
  border: 1px solid rgba(79, 119, 255, 0.2);
  border-radius: 20px;
  margin-bottom: 105px;
}
.card:hover{
  transition: 0.8s;
  box-shadow: rgba(91, 241, 179, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(91, 235, 199, 0.05) 0px 0px 0px 1px inset;
}
.content {
  text-align: center;
  padding: 35px 35.09px 45px 35px;
}

.avatar {}

.title-card span {
  font-size: 22px;
}

.title-card p {
  color: #7B88A8;
  font-size: 16px;
}

.desc-card span {
  font-size: 18px;
}

.desc-card p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  color: #7B88A8;
  font-size: 16px;
  line-height: 1.5;
} */

/* recent */
.main-recent{
  /* max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
  width: 100%; */
  
}
.title-recent{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0px auto;
  width: 100%;
  padding: 120px 0 70px 0;
}
.recent-title{
  flex: 1;
  height: 100%;
  width: 100%;
}
.txt-recent-project{
  font-size: 48px;
}
.left{width: 56px; height: 40px ;border-radius: 50px;}
.right{width: 56px; height: 40px ;border-radius: 50px;}
.left:hover{background-color:#3CD3AD;}
.right:hover{background-color:#3CD3AD;}
.cards-recent{
  padding-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
/* .card-recent{
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
} */
.card-recent{height: 100%; width: 370px;}
.card-img-container{
  /* padding-top: 56.25%; */
  width: 100%;
  overflow: hidden;
  position: relative;
}
.card-image-container img{
/*   left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .cards-recent {
      width: 100%;
      display: block;
      transition: 1s;
  }
  .card-content-recent{
    width: 100%;
  }
  .card-image-container img{
    padding: 30px;
  }
  .title-recent{
    display: block;
    float: left;
  }
  .recent-title p{
    text-align: center;
  }
  .btn-slide{
    text-align: center;
  }
  .card-recent{
    width: 100%;
  }
  /* .title-main{
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  } */
}






/* .main-recent {
  display: grid;
  grid-template-columns: 1fr repeat(3, minmax(auto, 100%)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.title-recent{

}
.cards-recent {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
  justify-content: center;
}

.card-recent {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease 0s;
}

.card-recent:hover {
  transform: translateY(-7px);
}

.card-image-container {
  width: 100%;

  overflow: hidden;
}

.card-image-container img {

  width: 100%;

}

@media only screen and (max-width: 1000px) {
  .card-recent {
      grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  .main-recent {
      grid-gap: 20px;
  }

  .card-recent {
      grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  .main-recent {
      grid-template-columns: 10px repeat(6, 1fr) 10px;
      grid-gap: 10px;
  }

  .cards-recent {
      grid-column: 2 / span 6;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
  }

  .card-recent {
      grid-column-end: span 6;
  }
} */

/* .recent-project-wrap{
  margin-top: 50px;
}
.recent-container{
  
}
.recent-project{

  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.recent-title{

}
.btn-slide{

}
.card-row{
  display: flex;
  justify-content: center;
}
.card-column{
  
}
.card-column img{
  margin: 8px 5px;
  width: 100%;
  padding: 10px;

}

@media screen and(max-width:600px) {
  .card-row{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    transition: 1s;
  }
} */


/* blog */

.container-blog{

}

.title-blog{
  padding: 120px 0 90px 0;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
.blog {

  display: flex;
  padding: 0 0 144px 0;
}

.blog-content{
}
.tit{

} 
.big-new {}

.big-new-cont {
  display: flex;
  gap: 30px;
}

.big-content-1 {
  
}

.big-img {
  max-width: 100%;
  padding: 0 4px;
}

.big-img img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 20px;
}

.blog-desc {
  display: flex;
  flex-wrap: wrap;
  
}

.blog-desc p {
  color: #7B88A8;
}

.blog-tit {
  line-height: 28px;
}

.tit-blog-tit {
  font-size: 22px;
}

.blog-date {
  display: flex;
  margin-right: 20px;
}
.blog-date p{
  /* margin-left: 5px; */
}
.time p{
  margin-left: 5px;
}
.time {
  display: flex;
}

.big-content-2 {}

/* .blog-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 30px;
}

.thumbnail {
  display: flex;
  border-bottom: 1px solid rgba(156, 154, 154, 0.2);
}

.thumb {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.thumb p{
  
}

.day {
  display: flex;
  margin-top: 20px;

}

.thumb-img {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.thumb-img img {
  max-width: 100%;
  border-radius: 10px;
} */

/* footer */

.footer {
  background-color: #292F3A;

}

.nav_footer {

  max-width: 1170px;
  height: auto;
  margin: 0px auto;
  padding: 15px 15px;
  width: 100%;
}

.lst {
  display: flex;
}

.logo_nav {
  width: 20%;
}

.lst {
  width: 50%;
}

.nav_itm {
  width: 30%;
}


.lst li {
  list-style-type: none;
  color: #fff;
  width: 50%;
}

.lst p a {
  text-decoration: none;
  color: #E7E5EA;
}

.nav_menu {
  padding-top: 80px;
}

.nav_menu ul li a {
  text-decoration: none;
  color: #E7E5EA;
}

.lst h4 {
  padding: 20px 0px;
}

.lst p {
  padding: 10px 0px;
}

.txt_footer {
  padding-left: 10px;
}

.logo_nav {
  display: flex;
}

.logo_nav p {
  color: #fff;
  align-items: center;
  line-height: 44px;
}

.logo_nav img {

  width: 32px;
  height: 44px;
}

.nav_menu {
  display: flex;
  margin-bottom: 99px;
}

.nav_itm h4 {
  padding: 20px 0px;
  color: #fff;
}

.nav_itm p {
  color: #E7E5EA;
}

.nav_itm p {
  padding: 20px 0px 15px 0px;
}

.nav_itm input {
  width: 235px;
  height: 48px;
  border-radius: 5px;
  border: none;
}

.nav_itm button {
  height: 48px;
}

.pad {
  display: flex;
  border-top: 1px solid rgba(156, 156, 156, 0.2);
}

.desc_f {
  width: 80%;
}

.desc_f p {
  color: #E7E5EA;
  line-height: 52px;
}

.link {
  display: flex;
  width: 20%;
  justify-content: flex-end;
}

.link img {
  width: 52px;
  padding: 0px 0px 0px 20px;
}
.card-cuw{
  width: 100%;
}


@media screen  and (max-width: 800px){
  .nav_menu{
    display: grid;
    align-items: center;
    margin: 120px;
    
  }
  .lst{
    display: grid;
  }
  .btn{
    width: auto;
    display: flex;
  }
  .nav_itm p{
    width: 100%;
  }

}







/* @media screen and (max-width: 800px) {
  .thumbnail {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .thumbnail {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
} */








/* Footer */




/* .footer {
  background-color: #292F3A;
  padding: 50px 0 30px;
}

.container {}

.row-footer {
  display: flex;
}

.column-foot {}

.item-foot {}

.foot-heading {
  position: relative;
  padding-bottom: 12px;
  letter-spacing: 2px;
}

.footer-heading::after {
  content: "";
  width: 25px;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #1bbc9b;
}

.list-link {}

.footer-link a {
  color: #E7E5EA;
  line-height: 40px;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.5s;
}

.footer-link a:hover {
  color: #1bbc9b;
}

.column-foot4 {}

.text-center {}

.foot-alt {} */
/* .contain-main{
  width: 1200px;
  margin: 0 auto;
} */
/* .contain{
  display: flex;
}

.logo_nav{
  padding-top: 30px;
}
.footer {
  width: 100%;
  position: relative;
  height: auto;
  margin: 0 auto;
  
}
.footer .col {
  width: 100%;
  height: auto;
  float: left;
  background-color: #292F3A;
  box-sizing: border-box;
  padding: 30px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #fff;
  text-transform: uppercase;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .col p{
  color: #FFFFFF;
}
.footer .col ul li {
  color: #E7E5EA;
  font-size: 14px;
  font-family: inherit;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
}
.social{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.social p{
  color: #FFFFFF;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
}
.signup-form{

}
.contain:nth-child(5){
  width: 100%;
}
.subscribe{
  display: flex;
}
.subscribe--input{

}
.subscribe--btn{

} */
/* .subscribe {
  display: block;
  position: relative;
  margin-top: 15px;
  width: 100%;
}
.subscribe--input {
background-color: #fff;
border: medium none;
border-radius: 5px;
color: #333;
display: block;
font-size: 15px;
font-weight: 500;
height: 60px;
letter-spacing: 0.4px;
margin: 0;
padding: 0 150px 0 20px;
text-align: center;
text-transform: capitalize;
width: 100%;
}
@media only screen and (max-width:768px) { 
.subscribe--input{padding: 0 50px 0 20px;}
}

.subscribe--btn {
background-color: transparent;
border-radius: 0 25px 25px 0;
color: #01c7e9;
cursor: pointer;
display: block;
font-size: 20px;
height: 60px;
position: absolute;
right: 0;
top: 0;
width: 60px;
}
.subscribe-btn i{transition: all 0.3s ease 0s;}
@media only screen and (max-width:768px) { 
.subscribe-btn{right:0px;}
}

.subscribe-btn:hover i{
  color:#ff3666;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
} */
/* @media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
} */

/* html,
body {
  font-size: 16px;
  color: hsl(60, 58%, 0%);
}
body {
  padding: 20px;
  background-color: rgb(99, 232, 203);
}
h1 {
  font-size: 2rem;
  text-align: center;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 40px 0;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid hsl(60, 58%, 17%);
  background-color: navajowhite;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-auto-rows: 10rem;
  grid-gap: 20px;
  margin: 40px 0;
}
.grid__item {
  background-color: hsl(40, 58%, 17%);
  border-radius: 5px;
}
.grid__item:nth-child(1),
.grid__item:nth-child(4) {
  background-color: hsl(10, 58%, 17%);
}
.grid__item:nth-child(2),
.grid__item:nth-child(6) {
  background-color: hsl(150, 58%, 17%);
}
.grid__item:nth-child(3),
.grid__item:nth-child(7) {
  background-color: hsl(200, 58%, 17%);
}
.grid__item:nth-child(4),
.grid__item:nth-child(8) {
  background-color: hsl(305, 58%, 17%);
} */
/* transition styles that would be animated */
/* .toggle-column {
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}
.toggle-row {
  grid-auto-rows: 16rem;
}
.toggle-gap {
  grid-gap: 40px;
} */

/* card-main */

/* .card-main {
  display: grid;
  grid-template-columns: 240px 240px 240px;
  grid-gap: 40px;
  padding: 60px 0;
}


.cards-cus {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: 240px 240px 240px;
  grid-gap: 40px;
}

/* .card-cus {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}  */
.card-container-thumb{
  background-color: #F8FAFC;
}
.card-main{

  display: flex;
  justify-content: center;
  max-width: 1170px;
  margin: 0px auto;
  width: 100%;
  padding: 0 0 70px 0;
  position: relative;

}
.title-main{
  padding: 135px 220px 90px 220px;
  text-align: center;
  font-size: 48px;
}

.cards-cus{
  display: flex;
}
.card-cus{
  border-bottom: 1px solid rgba(156, 154, 154, 0.2);
  padding: 15px 30px 15px 30px;
}
/* .card-cus:hover {
  transform: translate(7px);
} */

.card-image-container-cus {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.card-image-container-cus img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.card-content {
  padding: 20px;
}

.card-title-cus {
  margin: 20px 0 20px 0;
}

.day-cus {
  display: flex;
  align-self: end;
  align-items: center;
  margin-top: 20px;
}
.time-cus{
  margin-left: 20px;
}
.time-cus p{
  float: right;
  margin-left: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.date-cus{
  display: flex;
}
.time-cus{
  display: flex;
}
.date-cus p{
  float: right;
  margin-left: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
} 
.blog-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 30px;
}

.thumbnail {
  display: flex;
  border-bottom: 1px solid rgba(156, 154, 154, 0.2);
}

.thumb {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.thumb p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.day {
  display: flex;
  margin-top: 20px;

}

.thumb-img {
  width: 100px;
  height: 100px;
  line-height: 100px;
  flex-shrink: 0;
}

.thumb-img img {
  max-width: 100%;
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  .card-main{
    display: flex;
    flex-wrap: wrap;
  }
  .cards-cus{
    display: block;
    width: 100%;
  }
  .card-image-container-cus{
    width: 100%;
    height: auto;
  }
  .day-cus{
    flex: 50%;
  }
  .date-cus{

  }
  .blog-thumbnail{
    display: block;
    width: 100%;
  }
  .title-main p{
    font-size: 5vw;
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  }

}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 600px) {
  

} 

